@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --color1: hsl(0, 0%, 17%);
  --color2: hsl(0, 0%, 59%);
  --font-family1: "Rubik", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  background-color: var(--color4);
  position: relative;
}

.banner {
  background-image: url("../active/pattern-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  text-align: center;
}

.banner__caja {
  margin: 0 auto;
  padding: 40px 30% 7% 30%;
  text-align: center;
}

.banner__title {
  font-family: var(--font-family1);
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.form-control {
  height: 50px;
  border-radius: 10px 0 0 10px;
  font-family: var(--font-family1);
  font-size: 18px;
}

.btn {
  height: 51px;
  background-color: var(--color1);
  color: #fff;
  border-radius: 0 10px 10px 0;
}

.btn:hover,
.btn:focus-visible,
.btn:focus {
  color: var(--color1);
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  border: 3px solid var(--color1);
  outline: none;
  box-shadow: none;
}

.informacion {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  align-items: start;
  background: white;
  border-radius: 8px;
  box-shadow: 3px 4px 18px 0px var(--color2);
  max-width: 1110px;
  max-height: 150px;
  width: calc(100% - 300px);
  height: 100%;
  padding: 40px 15px;
  margin: auto;
  overflow: hidden;
  word-break: break-all;
}

.informacion div{
  border-right: 1px solid  var(--color2);;
  max-height: 150px;
  height: 100%;
  max-width: 278px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.informacion div:nth-child(4){
  border-right: 0 solid  var(--color2);
}

.estados-title {
  font-family: var(--font-family1);
  font-weight: bold;
  font-size: 12px;
  line-height: 42px;
  color: var(--color2);
  text-transform: uppercase;
  margin-bottom: 0;
}

.estados-subtitle {
  font-family: var(--font-family1);
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: var(--color1);
  text-transform: uppercase;
  margin-bottom: 0;
}

.attribution {
  background-color: black;
  color: #fff;
  font-family: var(--font-family1);
  text-decoration: none;
  font-size: 14px;
  padding-block: 10px;
  text-align: center;
}

.attribution a {
  color: #fff;
  font-family: var(--font-family1);
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
}

@media screen and (max-width: 980px) {
  .informacion{
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 767px) {
  .banner__caja {
    padding: 40px 20% 7% 20%;
  }

  .banner__title {
    font-size: 25px;
  }

  .estados-title {
    font-size: 12px;
    line-height: 12px;
  }

  .estados-subtitle {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 540px) {
  .banner__caja {
    padding: 15% 10% 15% 10%;
  }
  .informacion{
    width: calc(100% - 50px);
    grid-template-columns: 1fr;
    padding: 15px;
    text-align: center;
    max-height: 170px;
    height: calc(100% - 50px);
  }

  .informacion div{
    border-right: none;
    max-height: inherit;
    height: 100%;
    max-width: max-content;
    width: 100%;
    padding: 0 10px;
  }
}